@media (min-width: 100px) {
  .jumbotron{
    padding: 2rem 3rem;
    background-color: #e9ecef;
    width:125%;
    margin: 0 auto;
  }
}
@media (min-width: 390px) {
  .jumbotron{
    padding: 2rem 3rem;
    background-color: #e9ecef;
    width:115%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .jumbotron{
    padding: 2rem 3rem;
    background-color: #e9ecef;
    width:100%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .jumbotron{
    padding: 2rem 3rem;
    background-color: #e9ecef;
    width:100%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .jumbotron{
    padding: 2rem 3rem;
    background-color: #e9ecef;
    width:100%;
    margin: 0 auto;
  }
}
