<div class="card shadow text-center" style="width:100%">
  <div class="card-body">
    <h5 class="card-title">{{project.name}}</h5>
    <p class="cared-text">{{project.summary}}.</p>
    <button class="btn btn-primary" (click)="OpenProjectModal()">View More</button>
  </div>

  <div class="card-footer">
    <div class="d-flex flex-wrap justify-content-center">
<div *ngFor="let tag of project.tags">
  <div class="tag me-2 mb-3" [style.background-color]="tag.color">{{tag}}</div>
</div>
    </div>
  </div>
</div>
