<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar-expand-xs col-lg-23 col-md-10 col-sm-14 col-xs-10">
    <div class="container">
      <div class="row">
        <div class="navbar justify-content-end m-1 p-9 col-lg-23 col-md-19 col-sm-15 col-13 ">
      <ul class="nav ">
        <li class="nav-item">
          <a class="nav-link text-info" routerLink="/home" routerLinkActive="text-light">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" routerLink="/portfolio" routerLinkActive="text-light">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" routerLink="/resume" routerLinkActive="text-light">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" routerLink="/contact" routerLinkActive="text-light">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
  </nav>

</body>
</html>

