@media (min-width: 100px) {
  nav{
    width:125%;
    margin: 0 auto;
  }
}
@media (min-width: 390px) {
  nav{
    width:115%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
 nav{
    width:100%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
 nav{
    width:100%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
 nav{
    width:100%;
    margin: 0 auto;
  }
}
