<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar-expand-xs border-bottom mb-3">
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

</body>
</html>

