<div class="container">
<h1 class="project col-lg col-md-11 col-sm-10 col-9" style="text-align: center; ">Projects</h1>
  <div class="mb-4">
    <div>
      <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed = !isCollapsed">Filter</button>
      <button class="btn btn-outline-secondary mb-2" (click)="ResetFilters()" [hidden]="!filtering">Reset</button>
    </div>

    <div [collapse]="isCollapsed" [isAnimated]="true">
      <div class="border mb-2 shadow-sm" style="width:250px">
        <form>
          <div class="row mx-0">
            <div class="col-lg col-md-11 col-sm-10 col-10">
                <small><b>Languages:</b></small>
                <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox"
                      class="form-check-input postion-static me-2"
                      [(ngModel)]="typescript"
                      (change)="Filter()"
                      name="Typescript">
                      <label class="form-check-label small">Typescript</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox"
                      class="form-check-input postion-static me-2"
                      [(ngModel)]="python"
                      (change)="Filter()"
                      name="python">
                      <label class="form-check-label small">Python</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox"
                      class="form-check-input postion-static me-2"
                      [(ngModel)]="csharp"
                      (change)="Filter()"
                      name="csharp">
                      <label class="form-check-label small">Csharp</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox"
                      class="form-check-input postion-static me-2"
                      [(ngModel)]="javascript"
                      (change)="Filter()"
                      name="Javascript">
                      <label class="form-check-label small">Javascript</label>
                  </div>
                </div>
            </div>

            <div class="col-lg col-md-11 col-sm-10 col-10">
                <small><b>Frameworks:</b></small>
                <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox"
                      class="form-check-input postion-static me-2"
                      [(ngModel)]="angular"
                      (change)="Filter()"
                      name="Angular">
                      <label class="form-check-label small">Angular</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox"
                      class="form-check-input postion-static me-2"
                      [(ngModel)]="aspnet"
                      (change)="Filter()"
                      name="Aspnet">
                      <label class="form-check-label small">Aspnet</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                      <input type="checkbox"
                      class="form-check-input postion-static me-2"
                      [(ngModel)]="django"
                      (change)="Filter()"
                      name="Django">
                      <label class="form-check-label small">Django</label>
                  </div>
                </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let project of projects" class="col-lg col-md-11 col-sm-10 col-11">
      <app-project-card [project]="project"></app-project-card>
    </div>

  </div>

</div>
