:host{
  display:block;
  padding: 3rem 2rem;
}
.educations{
  margin-top: 2rem;
}
.educations h2{
  color: green;
}
.educations h3{
  color: gray;
}
:host.pc.educations{
  width:60px;
  position: relative;
  margin-left: grid;
  gap: 0 1.5rem;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(3, 1fr);
}